// Import the colors from 10-colors.scss
@import "10-colors.scss";

// Now you can use the variables $red, $green, and $blue

.red {
  color: color.adjust($red, $red: 15);
}

.green {
  color: color.adjust($green, $red: -10, $blue: 10);
}

.blue {
  color: color.adjust($blue, $lightness: -30%, $alpha: -0.4);
}