// _list-names.scss

$list-names: julien, john, sam, damian;

// 11-loop_photos.scss

// Import the list of names
@import 'list-names';

// Iterate over the list and generate classes
@each $name in $list-names {
  .photo-#{$name} {
    background: image-url("photos/#{$name}.jpg") no-repeat;
  }
}
// _list-names.scss

$list-names: julien, john, sam, damian;