// style
$primary-color: #3D3D3D;
$primary-color1: #6D6D6D;


body {
    color: $primary-color;
    background-color: $primary-color1; }
  
  p {
    color: $primary-color; }
  
  h2 {
    background-color: $primary-color1; }